<!DOCTYPE html>
<html lang="en">
<head th:replace="~{presentation/fragmentPublic :: head}"></head>
<body>

<section class="Inicio">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <p><img src="https://cdn-icons-png.flaticon.com/512/86/86155.png" alt="icono" style="width:50px;height:50px;filter: brightness(0) invert(1);"> <strong> Bolsa de Empleo</strong></p>

            <div class="navbar-nav ms-auto align-items-centered">
                <a class="nav-link" th:href="@{/DashboardAdministrador}">Dashboard</a>

                <a class="nav-link" th:href="@{/EmpresasPendientes}">Empresas pendientes</a>
                <a class="nav-link" th:href="@{/OferentesPendientes}">Oferentes pendientes</a>

                <a class="nav-link" th:href="@{/AdminCaracteristicas}">Caracteristicas</a>
                <a class="nav-link" th:href="@{/admin/reportes}">Reportes</a>
                <a class="nav-link" th:href="@{/login}">Logout</a>

            </div>
        </div>
    </nav>
</section>

<table class="tabla-simple"
       th:if="${oferentesPendientes != null and !#lists.isEmpty(oferentesPendientes)}">

    <thead>
    <tr>
        <th>Usuario</th>
        <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${oferentesPendientes}">
        <td th:text="${e.correo}"></td>
        <td>
            <form th:action="@{/admin/oferentes/aprobar}" method="post">
                <input type="hidden" name="id" th:value="${e.id}" />
                <button type="submit" class="btn-aprobar-simple">
                    Aprobar y generar clave
                </button>
            </form>
        </td>
    </tr>
    </tbody>

</table>

<div class="estado-vacio"
     th:if="${oferentesPendientes == null or #lists.isEmpty(oferentesPendientes)}">

    <section>
        <div class="container hero-content">
            <h1 class="hero-context">Bolsa de empleo</h1>
            <p>No hay oferentes pendientes de aprobación.</p>
        </div>
    </section>
</div>


<footer th:replace="~{presentation/fragmentPublic :: footer}"></footer>
</body>
</html>